In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests as req
from bs4 import BeautifulSoup as bs
from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
import time 
h = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36"}
import os 
from urllib.request import urlretrieve

### 목표
- AND, XOR 연산을 통해 기계가 학습과 정답을 예측하는 과정을 알아보자!

#### AND 연산: 둘다 1이면 1이 출력, 하나라도 0이면 0이 나오는 연산

In [3]:
# 머신러닝을 지원하는 sklean 라이브러리에서 KNN 모델 가져오기
from sklearn.neighbors import KNeighborsClassifier
# 평가 지표들을 활용할 수 있는 metrics 모듈을 불러오기
from sklearn import metrics

In [7]:
df_and = pd.DataFrame([[0,0,0],
                      [0,1,0],
                      [1,0,0],
                      [1,1,1]],
                      columns= ['P','Q','P and Q']
                      )
df_and

   P  Q  P and Q
0  0  0        0
1  0  1        0
2  1  0        0
3  1  1        1

In [8]:
# p, q가 문제, p and q가 정답
# 문제 데이터 설정
X = df_and.iloc[:,:2]  # 모든 행, 0번 인덱스 컬럼 ~ 1번 인덱스 컬럼


# 정답 데이터 설정
y= df_and.iloc[:,2]

In [11]:
X

   P  Q
0  0  0
1  0  1
2  1  0
3  1  1

In [13]:
y

0    0
1    0
2    0
3    1
Name: P and Q, dtype: int64

### KNN 분류 모델을 불러와서 변수에 담아주기

In [14]:
knn_model = KNeighborsClassifier(n_neighbors= 1)

###  KNN 모델의 문제와 정답을 넣어서 학습시키기 (fit)

In [17]:
knn_model.fit(X,y) # 학습을 시키는 명령어 fit

#knn_model 이라는 변수에 문제 (X)와 정답(y)으로 학습된 규칙이 그대로 담겨져 있음

KNeighborsClassifier(n_neighbors=1)

### 학습된 KNN 모델을 사용하여 정답을 예측해보기

In [18]:
# predict: 학습된 모델로 정답을 예측하는 명령
pre = knn_model.predict([[1,1],
                         [0,1],
                         [1,0],
                         [0,0]
                        ])

In [20]:
# 비교를 위해 실제 정답을 설정
answer = [1,0,0,0]

### 모델 평가 진행

In [21]:
# 학습된 모델의 정확도를 표현 (0~1값으로 도출, 1이면 100% 정확하다는 뜻)
metrics.accuracy_score(pre,answer)

1.0

### XOR 연산: 같으면 0, 다르면 1이 나오는 연산

In [22]:
df_xor = pd.DataFrame([[0,0,0],
                      [0,1,1],
                      [1,0,1],
                      [1,1,0],
                         ],columns= ['P','Q','P xor Q'])

In [23]:
df_xor

   P  Q  P xor Q
0  0  0        0
1  0  1        1
2  1  0        1
3  1  1        0

In [25]:
X1 = df_xor.iloc[:,:2]
y1= df_xor.iloc[:,2]

In [26]:
X1

   P  Q
0  0  0
1  0  1
2  1  0
3  1  1

In [27]:
y1

0    0
1    1
2    1
3    0
Name: P xor Q, dtype: int64

In [29]:
knn_model1 = KNeighborsClassifier(n_neighbors= 1)

In [31]:
knn_model1.fit(X1,y1)

KNeighborsClassifier(n_neighbors=1)

In [43]:
pre1 = knn_model1.predict([[1,1],
                         [0,1],
                         [1,0],
                         [0,0]
                        ])

In [44]:
answer1 = [0,1,1,0]

In [45]:
metrics.accuracy_score(pre1,answer1)

1.0