In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
import tqdm
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import export_graphviz
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import cross_val_score

In [6]:
train = pd.read_csv('data/train.csv', index_col="ID")

In [7]:
test = pd.read_csv('data/test.csv',index_col="ID")

In [8]:
train

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
ID,,,,,,,,,,,
1,C,Ship,2.0,2,135,3.0,low,M,NaN,1339,1
2,F,Flight,5.0,3,225,5.0,low,F,6.0,1082,0
3,F,Ship,3.0,1,229,3.0,low,M,NaN,4971,1
4,F,Ship,3.0,2,228,NaN,medium,M,2.0,5640,0
5,D,Flight,NaN,1,195,6.0,high,F,NaN,4944,1
...,...,...,...,...,...,...,...,...,...,...,...
6995,D,Ship,4.0,2,232,5.0,medium,F,4.0,1783,0
6996,F,Ship,3.0,5,228,2.0,medium,F,NaN,5208,0
6997,D,Ship,NaN,1,300,5.0,low,F,10.0,1787,0
6998,A,Road,3.0,1,232,2.0,medium,M,NaN,4719,0
6999,A,Ship,3.0,3,262,7.0,high,F,NaN,5097,0

In [10]:
test

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
ID,,,,,,,,,,
7000,F,Ship,3.0,1,274,NaN,high,M,NaN,4352
7001,F,Ship,3.0,4,136,2.0,medium,F,NaN,1056
7002,A,Flight,NaN,5,140,3.0,low,F,7.0,5383
7003,C,Ship,NaN,1,291,4.0,low,F,NaN,1880
7004,F,?,4.0,2,147,3.0,low,F,5.0,5174
...,...,...,...,...,...,...,...,...,...,...
10995,A,?,4.0,1,204,4.0,?,F,NaN,1667
10996,C,Ship,NaN,3,195,2.0,medium,M,NaN,3869
10997,B,Flight,NaN,3,206,2.0,medium,M,7.0,4531
10998,C,Ship,6.0,4,255,4.0,low,M,7.0,1869
10999,D,Ship,5.0,1,252,5.0,?,M,4.0,1308

In [12]:
train.keys()

Index(['Warehouse_block ', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

In [11]:
test.keys()

Index(['Warehouse_block ', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms'],
      dtype='object')

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6999 entries, 1 to 6999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6999 non-null   object
 1   Mode_of_Shipment     6999 non-null   object
 2   Customer_care_calls  5423 non-null   float64
 3   Customer_rating      6999 non-null   int64
 4   Cost_of_the_Product  6999 non-null   int64
 5   Prior_purchases      6049 non-null   float64
 6   Product_importance   6999 non-null   object
 7   Gender               6999 non-null   object
 8   Discount_offered     3468 non-null   float64
 9   Weight_in_gms        6999 non-null   object
 10  Reached.on.Time_Y.N  6999 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 656.2+ KB

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 7000 to 10999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      4000 non-null   object
 1   Mode_of_Shipment     4000 non-null   object
 2   Customer_care_calls  3144 non-null   float64
 3   Customer_rating      4000 non-null   int64
 4   Cost_of_the_Product  4000 non-null   int64
 5   Prior_purchases      3633 non-null   float64
 6   Product_importance   4000 non-null   object
 7   Gender               4000 non-null   object
 8   Discount_offered     2085 non-null   float64
 9   Weight_in_gms        4000 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 343.8+ KB

In [21]:
print(train.shape)
print(test.shape)

(6999, 11)
(4000, 10)

- ê²°ì¸¡ì¹˜ê°€ ìžˆëŠ” ì»¬ëŸ¼ ì¡´ìž¬
- train: Customer_care_calls, Prior_purchases, Discount_offered 
- test: Customer_care_calls, Prior_purchases, Discount_offered

In [24]:
train['Customer_care_calls'].describe()

count    5423.000000
mean        4.054582
std         1.131019
min         2.000000
25%         3.000000
50%         4.000000
75%         5.000000
max         7.000000
Name: Customer_care_calls, dtype: float64

In [25]:
test['Customer_care_calls'].describe()

count    3144.000000
mean        4.055025
std         1.161132
min         2.000000
25%         3.000000
50%         4.000000
75%         5.000000
max         7.000000
Name: Customer_care_calls, dtype: float64

In [26]:
train['Prior_purchases'].describe()

count    6049.000000
mean        3.576294
std         1.530933
min         2.000000
25%         3.000000
50%         3.000000
75%         4.000000
max        10.000000
Name: Prior_purchases, dtype: float64

In [28]:
test['Prior_purchases'].describe()

count    3633.000000
mean        3.567300
std         1.522934
min         2.000000
25%         3.000000
50%         3.000000
75%         4.000000
max        10.000000
Name: Prior_purchases, dtype: float64

In [30]:
train['Discount_offered'].describe()

count    3468.000000
mean       13.269031
std        16.070188
min         1.000000
25%         4.000000
50%         7.000000
75%        10.000000
max        65.000000
Name: Discount_offered, dtype: float64

In [31]:
test['Discount_offered'].describe()

count    2085.000000
mean       13.282014
std        15.835045
min         1.000000
25%         4.000000
50%         7.000000
75%        10.000000
max        65.000000
Name: Discount_offered, dtype: float64